
form{
    margin: 0 auto;
    text-align: center;
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: max-content;
}
label{
    padding: 1px;
    margin: 10px 5px;
    text-align: right;
}
input{
    align-self: flex-start;
    margin: 10px 0px;
    width: 200px;
}